[submodule "smartmeter-head/openscad-threads"]
	path = smartmeter-head/openscad-threads
	url = https://github.com/tsbogend/openscad-threads.git
[submodule "eap615-mount/openscad-threads"]
	path = eap615-mount/openscad-threads
	url = https://github.com/tsbogend/openscad-threads.git
[submodule "fitting-screw/openscad-threads"]
	path = fitting-screw/openscad-threads
	url = https://github.com/tsbogend/openscad-threads.git
[submodule "fitting-nut/openscad-threads"]
	path = fitting-nut/openscad-threads
	url = https://github.com/tsbogend/openscad-threads.git
[submodule "junctionbox/openscad-threads"]
	path = junctionbox/openscad-threads
	url = https://github.com/tsbogend/openscad-threads.git
